@model TW.Models.PublicViewModel
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #baguetteBox-overlay .full-image img {
        border: 2px solid gainsboro;
    }

    #baguetteBox-overlay .full-image {
        max-height: 95%;
        max-width: 95%;
    }
</style>
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <ul class="breadcrumb">
                        <li><a href="/Home/">Home</a> <i class="icon-angle-right"></i></li>
                        <li class="active">Gallery</li>
                    </ul>
                    <h2>@Html.Raw(Model.Project.ProjectName)</h2>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="content" class="alt-bg-gray">
    <div class="container">
        <div class="row">
            <div class="span12">
                <p>Signage Consultant: @Html.Raw(Model.Project.ArchitectName)</p>
                <p>Signage Contractor: @Html.Raw(Model.Project.Consultant_Contractor)</p>
            </div>
        </div>
    </div>
</section>

<section id="gallery-content">
    <div class="container">
        <div class="row">

            <div class="grid cs-style-4">
                @*@foreach (var data in Model.ProjectGalleries)
                    {
                        var imagePath = "http://twadmin.thebyteheart.com/" + data.ImageUrl;
                        <div class="span6">
                            <div class="item">
                                <figure>
                                    <div><img src="@imagePath" alt=""/></div>
                                    <figcaption>
                                        <div>
                                            <span>
                                                <a href="@imagePath" data-pretty="prettyPhoto[gallery1]" title="">
                                                    <i class="icon-plus icon-circled icon-bglight icon-2x"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    }*@

                <div class="tz-gallery">

                    <div class="row">
                        @foreach (var data in Model.ProjectGalleries)
                        {
                            var imagePath = "http://twadmin.thebyteheart.com/" + data.ImageUrl;
                            <div class="span6">
                                <div class="thumbnail">
                                    <a class="lightbox" href="@imagePath">
                                        <img src="@imagePath" alt="Bridge">
                                    </a>

                                </div>
                            </div>

                        }

                    </div>

                </div>


            </div>
        </div>
    </div>

</section>

<section id="content" class="alt-bg-gray">
    <div class="container">
        <div class="row">
            <div class="span12">
                <p>Location: @Html.Raw(Model.Project.ProjectLocation)</p>
                <p>Details: @Html.Raw(Model.Project.ShortDetails)</p>
            </div>
        </div>
    </div>
</section>