@model TW.Models.PublicViewModel
@{
    ViewBag.Title = "Home";
}

<!-- section featured -->
<section id="featured">

    <!-- slideshow start here -->

    <div class="camera_wrap" id="camera-slide">
        @{
            var i = 1;
        }
        @foreach (var banner in Model.Banners.FindAll(x => x.IsActive == true).ToList())
        {
            string imagepath;
            if (banner.ImageUrl == null)
            {
                imagepath = null;
            }
            else
            {
                imagepath = "http://twadmin.thebyteheart.com/" + banner.ImageUrl;
            }

            if (i == 1)
            {
                <div data-src="../img/slides/camera/slide2/img1.jpg">
                    <div class="camera_caption fadeFromLeft">
                        <div class="container">
                            <div class="row">
                                <div class="span6">
                                    <h2 class="animated fadeInDown">
                                        <strong>
                                            @Html.Raw(banner.Title)
                                        </strong>
                                    </h2>
                                    <p class="animated fadeInUp">
                                        @Html.Raw(banner.ShortDescription)
                                    </p>

                                </div>
                                <div class="span6">
                                    <img src="@imagepath" alt="" class="animated bounceInDown delay1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (i == 2)
            {
                <div data-src="../img/slides/camera/slide2/img1.jpg">
                    <div class="camera_caption fadeFromLeft">
                        <div class="container">
                            <div class="row">
                                <div class="span6">
                                    <img src="@imagepath" alt="" />
                                </div>
                                <div class="span6">
                                    <h2 class="animated fadeInDown">
                                        <strong>
                                            @Html.Raw(banner.Title)
                                        </strong>
                                    </h2>
                                    <p class="animated fadeInUp">
                                        @Html.Raw(banner.ShortDescription)
                                    </p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div data-src="../img/slides/camera/slide2/img1.jpg">
                    <div class="camera_caption fadeFromLeft">
                        <div class="container">
                            <div class="row">

                                <div class="span6">
                                    <h2 class="animated fadeInDown">
                                        <strong>
                                            @Html.Raw(banner.Title)
                                        </strong>
                                    </h2>
                                    <p class="animated fadeInUp">
                                        @Html.Raw(banner.ShortDescription)
                                    </p>
                                </div>
                                <div class="span6">
                                    <img src="@imagepath" alt="" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
            i++;
        }

    </div>

    <!-- slideshow end here -->

</section>
<!-- /section featured -->

<section id="content" class="alt-bg">
    <div class="container">


        <div class="row">
            @{
                var j = 1;
            }
            @foreach (var data in Model.OurMachines)
            {
                var imagepath = "http://twadmin.thebyteheart.com/" + data.ImageUrl;
                if (j == 1)
                {
                    <div class="span4">
                        <div class="service-box machine-box aligncenter flyIn">
                            <h5>@Html.Raw(data.MachineName)</h5>
                            <div class="icon">
                                <img src="@imagepath" alt="" />
                            </div>
                            <p>
                                @Html.Raw(data.Description)
                            </p>
                        </div>
                    </div>
                }
                else if (j == 2)
                {
                    <div class="span4">
                        <div class="service-box machine-box aligncenter flyIn">
                            <h5>@Html.Raw(data.MachineName)</h5>
                            <div class="icon">
                                <img src="@imagepath" alt="" />
                            </div>

                            <p>
                                @Html.Raw(data.Description)
                            </p>

                        </div>
                    </div>
                }
                else
                {
                    <div class="span4">
                        <div class="service-box machine-box aligncenter flyIn">
                            <h5>@Html.Raw(data.MachineName)</h5>
                            <div class="icon">
                                <img src="@imagepath" alt="" />
                            </div>

                            <p>
                                @Html.Raw(data.Description)
                            </p>

                        </div>
                    </div>
                }
                j++;
            }
        </div>

        <div class="row">
            <div class="span12">
                <div class="cta-box">
                    <div class="row">
                        <div class="span8">
                            <div class="cta-text">
                                <h2>Special price in very <span>limited</span> times</h2>
                            </div>
                        </div>
                        <div class="span4 flyIn">
                            <div class="cta-btn">
                                <a href="javascript:void(0);" class="btn btn-theme">
                                    <i class="icon-phone"></i>
                                    @Html.Raw(Model.CompanySetting.MainContactNo)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="speech">
    <div class="container">
        <div class="row">
            <div class="span12 text-center">
                <img src="/img/Speech.png" width="550" />
            </div>
        </div>
    </div>
</section>


<section id="works">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="title">Our  <strong><span class="colored">Projects</span></strong></h4>
                <div class="row">
                    @foreach (var cat in Model.ProjectCategories)
                    {
                        var imagepath = "http://twadmin.thebyteheart.com/" + cat.ImageUrl;
                        <div class="span4 box-project">
                            <a href="/Home/Projectdetails/@cat.Id">
                                <div class="service-box project-box aligncenter flyIn">
                                    <h5>@Html.Raw(cat.Name)</h5>
                                    <div class="icon">
                                        <img src="@imagepath" alt="" />
                                    </div>
                                </div>
                            </a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</section>

@Html.Partial("~/Views/Partial/_ourclients.cshtml", Model)
